{% extends "base.html" %}

{% block title %} Editar Recepta {% endblock%}

{% block content %}
    <form class="newRecipe" method="POST" enctype="multipart/form-data">
        <h1>Editar Recepta</h1><br>
        <h3>Titol</h3><br>
        <input type="text" id="title" name="title" value="{{ recipe[0] }}" required><br><br>

        <h3>Tipus</h3><br>
        <input type="text" id="type" name="type" value="{{ recipe[1] }}" required><br><br>

        <h3>Pasos</h3><br>
        <textarea id="steps" name="steps" rows="5" required>{{ recipe[2] }}</textarea><br>

        <h3>Nova Imatge (Opcional)</h3><br>
        <input id="addRecepta" type="file" id="image" name="image" accept="image/*"><br><br>

        <h3>Descripció</h3><br>
        <textarea id="changes" name="changes" rows="3" required></textarea><br><br>

        <button id="addRecepta" type="submit">Guardar canvis</button><br>
    </form>
{% endblock%}