{% extends "baseforms.html" %}

{% block title %} Login {% endblock%}

{% block content %}
    <main>
        <div class="log_sign_form">
            <h1>Login Form</h1>
            <form action="/login " method="POST">

                <img src="/static/images/user.png" alt="email">
                <input type="email" name="email" placeholder="Correu Electronic" requierd><br><br>
                
                <img src="/static/images/password.png" alt="">
                <input type="text" name="password" placeholder="Contrasenya" required><br><br>

                <input id="button" type="submit" value="Iniciar Sessió">
            </form>
            <div>
                <button id="button" onclick="window.location.href='/singin'">Registrar-me</button>
            </div>
        </div>
    </main>
    <script>
        const error = "{{ error }}";
        if (error) {
            alert(error); 
        }
    </script>
{% endblock%}