<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyEat|Login</title>
    <link rel="icon" href="/static/images/logo.png" type="image/x-icon">
</head>
<body>
    <header>

    </header>
    <main>
        <form action="index.html">
            <input type="text" placeholder="Usuari">
            <input type="text" placeholder="Contrasenya">
            <button>Login</button>
        </form>
    </main>
    <footer>

    </footer>
</body>
</html>