<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body>
    <main>
        <form method="POST" id="form">
            <input type="text" name="name" placeholder="Nom de la recepta" required>
    
            <div id="ingredientsForm">
                <div id="ingredients">
                    <select name="ingredients" id="ingredients"  required>
                        {% for ingredient in ingredients %}
                            <option value="{{ ingredient[0] }}">{{ ingredient[1] }}</option>
                        {% endfor %}
                    </select>
                
                    <input type="text" name="weight" placeholder="20G" required>
                
                </div>
                <button type="button" id="addIngredients" onclick="addIngredient()">+</button>
            </div>
    
            <div id="passosDiv">
                <div id="passos">
                    <input type="text" class="passos" name="steps" placeholder="Pas a seguir" required>
            </div>
    
            <label for="tipus">Tipus:</label>
            <select name="type" id="tipus" required>
                <option value="PrimerPlat">Primer Plat</option>
                <option value="SegonPlat">Segon Plat</option>
                <option value="Postres">Postres</option>
            </select>
    
            <button type="submit" id="addRecepta">Afegir recepta</button>
        </form>
    </main>
    <script>
        const error = "{{ error }}";
        if (error) {
            alert(error); 
        }
        function addIngredient() {
            const ingredientsDiv = document.getElementById("ingredients");
            const newIngredientDiv = document.createElement("div");
            newIngredientDiv.classList.add("ingredientsDiv");
            newIngredientDiv.innerHTML = `

            <select name="ingredients" id="ingredients"  required>
                {% for ingredient in ingredients %}
                        <option value="{{ ingredient[0] }}">{{ ingredient[1] }}</option>
                {% endfor %}
            </select>
            <input type="text" class="quantitats" name="quant_recepta" placeholder="20G" required>
            `;
            ingredientsDiv.appendChild(newIngredientDiv);
        }
        
    </script>
</body>
</html>