{% extends "base.html" %}

{% block title %} Nova recepta {% endblock%}

{% block content %}
    <main>
        <div class="newRecipe">
            <h1>Nova recepta</h1>
            <form method="POST" id="form" enctype="multipart/form-data">
                <h3>Titul</h3>
                <br>
                <input type="text" name="name" placeholder="Nom de la recepta" required>
                <br>
                <br>
                <h3>Ingredients</h3>
                <br>
                <div id="ingredientsForm">
                    <div id="ingredients">
                        <select name="ingredients" id="addRecepta" required>
                            {% for ingredient in ingredients %}
                                <option value="{{ ingredient[0] }}">{{ ingredient[1] }}</option>
                            {% endfor %}
                        </select>
                    
                        <input type="text" name="weight" placeholder="20G" required>
                    
                    </div>
                    <br>
                    <button type="button" id="addRecepta" onclick="addIngredient()">+</button>
                </div>
                <br>
                <h3>Passos</h3>
                <div id="passosDiv">
                    <div id="passos">
                        <input type="text-area" class="passos" name="steps" placeholder="Pas a seguir" required>
                </div>
                <br>
        
                <h3>Tipus</h3>
                <select name="type" id="addRecepta" required>
                    <option value="PrimerPlat">Primer Plat</option>
                    <option value="SegonPlat">Segon Plat</option>
                    <option value="Postres">Postres</option>
                </select>
                <br>

                <h3>Insereix una imatge</h3>
                <input type="file" id="addRecepta" name="image" accept="image/*">
                <br><br>
                <button type="submit" id="addRecepta">Afegir recepta</button>
            </form>
        </div>
    </main>
    <script>
        const error = "{{ error }}";
        if (error) {
            alert(error); 
        }
        function addIngredient() {
            const ingredientsDiv = document.getElementById("ingredients");
            const newIngredientDiv = document.createElement("div");
            newIngredientDiv.classList.add("ingredientsDiv");
            newIngredientDiv.innerHTML = `
            <br>
            <select name="ingredients" id="addRecepta"  required>
                {% for ingredient in ingredients %}
                        <option value="{{ ingredient[0] }}">{{ ingredient[1] }}</option>
                {% endfor %}
            </select>
            <input type="text" class="quantitats" name="quant_recepta" placeholder="20G" required>
            <br>
            `;
            ingredientsDiv.appendChild(newIngredientDiv);
        }
    </script>
{% endblock %}
