{% extends "base.html" %}

{% block title %} Registrar-me {% endblock%}

{% block content %}
    <main>
        <div class="log_sign_form">
            <h1>Sign In Form</h1>
            <form action="/singin" method="POST">
                
                <img src="/static/images/user.png" alt="">
                <input type="text" name="name" placeholder="Nom" required><br><br>

                <img src="/static/images/email.png" alt="">
                <input type="email" name="email" placeholder="Correu Electronic" requierd><br><br>
                
                <img src="/static/images/password.png" alt="">
                <input type="text" name="password" placeholder="Contrasenya" required><br><br>

                <input type="submit" value="Registrar">
            </form>
            <div>
                <button onclick="window.location.href='/'">Iniciar Sessió</button>
            </div>
        </div>
    </main>
{% endblock%}